 {% for entity in respuestas %}
<tr>
  <td><a href="{{ path('respuesta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
   <td>{{ entity.etiqueta }}</td>
   <td>
      <ul>
         <li>
            <a href="{{ path('respuesta_edit', { 'id': entity.id }) }}">Editar</a>
        </li>
      </ul>
   </td>
 </tr>
{% endfor %}
